/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	
	color:#210205;
	background:#ed9fa8 url(../img/graphic2.jpg)fixed no-repeat center;
	background-size:cover;
	font-family:Helevetica;
}


#container {
	
}

section {

	border:1px solid black;
	padding:10px;
	margin:10px;
	background:#fcc93a;
}
h1 {

	color:darkred;
}


header {
	text-align:center;
}

footer{

	font-size:0.85em;
	padding:8px;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	#container {
		width:725px;
		margin:auto;
	}

	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	#container {
		width:1000px;
	}
	
	section#first {
		float:left;
		width:400px;
	}

	section#second {
		float:right;
		width:400px;
	}

	footer {
		clear:both;
	}
	
} /* closes 1024px+ */



