/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


img {
	width: 100%;

}

figure{

	margin:0px;
}


iframe {
	pos
}
<figure class="responsive">
     <iframe>https://youtu.be/_OPFr5ofkq8?si=PhAAFfpB79WpmpZw</iframe>
</figure>




body {
	
	background:#d1526d;
	font-family:Optima, sans-serif;
	padding: 15px;
}


#container {
	background-color:#f2859d;
	border:1px solid black;
	padding: 10px;
}

div#container {

	width:78%;
	margin:auto;
}

#container {
	min-width:85%;
}
main {

	display:flex;
}

